*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #a0bb8e;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    background-color: #757575;
    width: 50%;
    height: 80%;
}
.input-container{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.display{
    background-color: white;
    width: 95%;
    height: 75%;
    margin: 15px 0px;
}
.keys{
    background: transparent;
    width: 94%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 25px 20px;
}
.numbers{
    width: 23%;
    height: 20%;
    background-color: #cfcccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.equals{
    width: 49%;
}
.numbers:hover{
    background-color: rgb(187, 194, 194);
}